.fc {
  width: 100%;
  border: none;
}

thead {
  border: none;
}

.fc-col-header {
  border-radius: 6px;
  overflow: hidden;
}

.fc-col-header-cell > div {
  background-color: #efedf4;
  padding: 16px 0px;
  a {
    text-transform: uppercase;
  }
}

.fc-theme-standard th,
.fc-theme-standard td {
  border: none !important;
  padding: 6px 0px;
}

.fc-theme-standard td {
  /* padding: 0px 6px; */
}

.fc-theme-standard th {
  padding: 6px;
}

.fc-day.fc-day-sun.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-mon.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-tue.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-wed.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-thu.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-fri.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-sat.fc-day-past.fc-daygrid-day,
.fc-day.fc-day-sun.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-mon.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-tue.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-wed.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-thu.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-fri.fc-day-future.fc-daygrid-day,
.fc-day.fc-day-sat.fc-day-future.fc-daygrid-day {
  /* background-color: rebeccapurple; */
  padding-left: 6px;
  padding-right: 6px;
}

.fc .fc-daygrid-day.fc-day-today {
  /* background-color: rebeccapurple; */
  /* padding-left: 6px; */
  /* padding-right: 6px; */
}

.fc .fc-scrollgrid {
  border-left-width: 0px !important;
  border-top-width: 0px !important;
}

.fc .fc-daygrid-day-frame {
  border: 2px solid #efedf4;
  border-radius: 6px;
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-daygrid-day-number {
  color: #1b1b21;
  font-size: 40px;
  font-weight: 500;
  padding: 0 !important;
}

.fc .fc-daygrid-day-frame {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: inherit;
}

.fc-col-header {
  background-color: #efedf4;
}

.custom-event {
  font-family: inherit;
  background-color: #ffd7f3;
  border: none;
  font-size: 16px;
  width: fit-content;
}
